MultiFit: "combLieke"
  OutputDir: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/results
  Combine: TRUE
  Compare: FALSE
  POIName: mu_comb
  POIRange: 0:3
  DataName: obsData
  Label: "Z to ll: mumu + ee + tautau"
  CmeLabel: "13 TeV"
  LumiLabel: "16.4 fb^{-1}"
  NumCPU: 4
  NLLOffset: INITIAL
  FitStrategy: 1
  ToleranceScale: 10
  UseHesseBeforeMigrad: TRUE
  FitResultsRootFile: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/attempt_tolerance10/Fits/combLieke.root

Fit: "comb_mumu"
  ConfigFile: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/generated/mumu.config
  Directory: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/results/comb_mumu
  Label: "mumu"

Fit: "comb_ee"
  ConfigFile: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/generated/ee.config
  Directory: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/results/comb_ee
  Label: "ee"

Fit: "comb_tautau"
  ConfigFile: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/generated/tautau.config
  Directory: /project/atlas/Users/lgijsen/BND-school/combination/combLieke/mumu_ee_tautau/results/comb_tautau
  Label: "tautau"
