% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "EFTRExFitter_Tutorial_EFT_ttWjcHtcHQ1"
  OutputDir: "test/inputs/EFT/"
  Label: "tW scattering"
  CmeLabel: "13 TeV"
  POI: "cHt","cHQ1"
  ReadFrom: NTUP
  NtuplePaths: /mnt/lustre/scratch/epp/tjs31/ttwj/ttwj_160123/
  LumiLabel: "140 fb^{-1}"
  Lumi: 140068.94
  MCweight: "1."
  PlotOptions: "NOXERR,YIELDS"
  NtupleName: "nominal_Loose"
  DebugLevel: 1
  MCstatThreshold: 0.01
  SystControlPlots: FALSE
  UseATLASRounding: TRUE
  RankingMaxNP: 15
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE   % set this in order to have separated .root files in Histograms/ for different regions
  ImageFormat: "png"
  SystCategoryTables: TRUE
  CorrelationThreshold: 0.1
  StatOnly: FALSE 
  SystPruningShape: 0.007 
  SystPruningNorm: 0.007 
  SystLarge: 0.5
  RemoveLargeSyst: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: EFT
  EFTOrder: ALL
  FitRegion: CRSR
  FitBlind: TRUE 
  POIAsimov: 0.0
  UseMinos: "cHt","cHQ1","norm_ttZ","norm_ttW_QCD","norm_diboson"
  doLHscan: cHt,cHQ1
  LHscanMin: -10
  LHscanMax: 10
  LHscanSteps:20
  do2DLHscan: cHt,cHQ1
  LHscanMinY: -10
  LHscanMaxY: 10
  LHscanStepsY:20
  SetRandomInitialNPval: 0.1
  SetRandomInitialNPvalSeed: 1234567


% --------------- %
% ---  LIMIT  --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE %TRUE
  SignalInjection: TRUE
  SignalInjectionValue: 1.0

%%%%%%%%%%%%%%%%%%%%%%%
% Significance
%%%%%%%%%%%%%%%%%%%%%%%

Significance:"significance"
  SignificanceBlind: FALSE
  POIAsimov: 1.0

% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "SR_lep_pt_0"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "lep0_pt",40,80,480
  Binning: 80,110,150,210,480
  VariableTitle: "p_{T}(l_{0})"
  Label: "SR "
  ShortLabel: "SR "
  Selection: "pass_sr_deltaEta"

Region:"CR2lss4j"
  Type: CONTROL
  DataType: DATA
  Variable: "channel",12,-3,9
  BinLabels: "1b-e^{-}e^{-}","1b-e^{-}#mu^{-}","1b-#mu^{-}#mu^{-}","1b-#mu^{+}#mu^{+}","1b-e^{+}#mu^{+}","1b-e^{+}e^{+}","2b-e^{-}e^{-}","2b-e^{-}#mu^{-}","2b-#mu^{-}#mu^{-}","2b-#mu^{+}#mu^{+}","2b-e^{+}#mu^{+}","2b-e^{+}e^{+}"
  VariableTitle: "Channels"
  Label: "CR-2lss-4j"
  ShortLabel: "4J-lo#Delta#eta-CR"
  Selection: "pass_CR2lss4j"

Region: "CR2lss3j"
  Type: CONTROL
  DataType: DATA
  Variable: "channel",12,-3,9
  BinLabels: "1b-e^{-}e^{-}","1b-e^{-}#mu^{-}","1b-#mu^{-}#mu^{-}","1b-#mu^{+}#mu^{+}","1b-e^{+}#mu^{+}","1b-e^{+}e^{+}","2b-e^{-}e^{-}","2b-e^{-}#mu^{-}","2b-#mu^{-}#mu^{-}","2b-#mu^{+}#mu^{+}","2b-e^{+}#mu^{+}","2b-e^{+}e^{+}"
  VariableTitle: "Channels"
  Label: "CR-2lss-3j"
  ShortLabel: "CR-2lss-3j"
  Selection: "pass_CR2lss3j"

Region: "CR3lttZ"
  Type: CONTROL
  DataType: DATA
  Variable: "ht",4,0,2000
  Binning: 0,400,800,1200,2000
  VariableTitle: "H_{T}"
  Label: "CR-3l-ttZ"
  ShortLabel: "CR-3l-ttZ"
  Selection: "pass_CR3lttZ"

Region: "CR3lVV"
  Type: CONTROL
  DataType: DATA
  Variable: "ht",4,0,2000
  Binning: 0,360,730,1100,2000
  VariableTitle: "H_{T}"
  Label: "CR-3l-VV"
  ShortLabel: "CR-3l-VV"
  Selection: "pass_CR3lVV"

% --------------- %
% --- SAMPLES --- %
% --------------- %

%%% GHOST %%%

Sample: "ttW_EW_NLO_GHOST"
  Type: GHOST
  Title: "t#bar{t}W EW NLO GHOST"
  FillColor: 0
  LineColor: 1
  NtupleFiles: "700205d","700205a","700205e"
  MCweight: "weight_nominal"

Sample: "ttW_EW_LO_GHOST"
  Type: GHOST 
  Title: "t#bar{t}W EW LO GHOST"
  FillColor: 0
  LineColor: 1
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal"

%%% EFT %%%

% cHt %

Sample: "EFT_ttW_EW_cHtm5"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHt=c_{Ht}"
  EFTParam: "cHt + cHt^2"
  EFTValue: "cHt=-5.0"
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[276]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHtm2"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHt=c_{Ht}"
  EFTParam: "cHt + cHt^2"
  EFTValue: "cHt=-2.0"
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[277]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHtm1"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHt=c_{Ht}"
  EFTParam: "cHt + cHt^2"
  EFTValue: "cHt=-1.0"
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[278]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHtp1"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHt=c_{Ht}"
  EFTParam: "cHt + cHt^2"
  EFTValue: "cHt=+1.0"
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[279]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHtp2"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHt=c_{Ht}"
  EFTParam: "cHt + cHt^2"
  EFTValue: "cHt=+2.0"
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[280]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHtp5"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHt=c_{Ht}"
  EFTParam: "cHt + cHt^2"
  EFTValue: "cHt=+5.0"
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[281]/mc_generator_weights[0]"

% cHQ1 %

Sample: "EFT_ttW_EW_cHQ1m5"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHQ1=c_{HQ}^{1}";
  EFTParam: "cHQ1 + cHQ1^2";
  EFTValue: "cHQ1=-5.0";
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[262]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHQ1m2"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHQ1=c_{HQ}^{1}";
  EFTParam: "cHQ1 + cHQ1^2";
  EFTValue: "cHQ1=-2.0";
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[264]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHQ1m1"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHQ1=c_{HQ}^{1}";
  EFTParam: "cHQ1 + cHQ1^2";
  EFTValue: "cHQ1=-1.0";
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[265]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHQ1p1"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHQ1=c_{HQ}^{1}";
  EFTParam: "cHQ1 + cHQ1^2";
  EFTValue: "cHQ1=1.0";
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[266]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHQ1p2"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHQ1=c_{HQ}^{1}";
  EFTParam: "cHQ1 + cHQ1^2";
  EFTValue: "cHQ1=2.0";
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[267]/mc_generator_weights[0]"

Sample: "EFT_ttW_EW_cHQ1p5"
  Type: EFT
  MultiplyBy: "ttW_EW_NLO_GHOST"
  DivideBy: "ttW_EW_LO_GHOST"
  EFTSMReference: "ttW_EW"
  EFTTitle: "cHQ1=c_{HQ}^{1}";
  EFTParam: "cHQ1 + cHQ1^2";
  EFTValue: "cHQ1=5.0";
  NtupleFiles: "EFT/516250d","EFT/516250a","EFT/516250e"
  MCweight: "weight_nominal*mc_generator_weights[268]/mc_generator_weights[0]"

%%% SM %%%

Sample: "ttW_EW"
  Type: EFT
  EFTSMReference: "NONE"
  Title: "t#bar{t}W EW"
  FillColor: 0
  LineColor: 1
  NtupleFiles: "700205d","700205a","700205e"
  MCweight: "weight_nominal"

Sample: "ttZ"
  Type: BACKGROUND
  Title: "t#bar{t}Z"
  FillColor: 801
  LineColor: 801
  NtupleFiles: "ttZee17","ttZee1516","ttZee18","ttZmumu17","ttZmumu1516","ttZmumu18","ttZtautau17","ttZtautau1516","ttZtautau18","ttZrest17","ttZrest1516","ttZrest18"
  MCweight: "weight_nominal"
  NtuplePathSuff: "ttZtZPDF/"

Sample: "ttW_QCD" 
  Type: BACKGROUND
  Title: "t#bar{t}W QCD"
  FillColor: 829
  LineColor: 829
  NtupleFiles: "700168d","700168a","700168e"
  MCweight: "weight_nominal"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "Top"
  Group: "Top"
  FillColor: 861
  LineColor: 861
  NtuplePathSuff: "updated_010223/Top/"
  NtupleFiles: "top17","top1516","top18"
  MCweight: "weight_nominal"
  
Sample: "tZ"
  Type: BACKGROUND
  Title: "tZ"
  Group: "Top"
  FillColor: 861
  LineColor: 861
  NtuplePathSuff: "ttZtZPDF/"
  NtupleFiles: "412063a","412063d","412063e"
  MCweight: "weight_nominal"

Sample: "diboson"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 625
  LineColor: 625
  NtuplePathSuff: "updated_010223/VV/"
  NtupleFiles: "diboson1516_*","diboson18_*","diboson17_*"
  MCweight: "weight_nominal"

Sample: "ttH"
  Type: BACKGROUND
  Title: "t#bar{t}H"
  FillColor: 866
  LineColor: 866
  NtupleFiles:"ttH17","ttH1516","ttH18"
  MCweight: "weight_nominal"

Sample: "other"
  Type: BACKGROUND
  Title: "Other"
  Group: "Other"
  FillColor: 920
  LineColor: 920
  NtupleFiles: "other17","other1516","other18","4topsNLO/412043a","4topsNLO/412043d","4topsNLO/412043e"
  MCweight: "weight_nominal"

Sample: "Conversions"
  Type: BACKGROUND
  Title: "Conversions"
  FillColor: 814
  LineColor: 814
  NtuplePathSuff: "Conv_trex_2022_10_17/"
  NtupleFiles: "Conv17-410155","Conv17-412123","Conv17","Conv17-ttZ","Conv1516-410155","Conv1516-412123","Conv1516","Conv1516-ttZ","Conv18-410155","Conv18-412123","Conv18","Conv18-ttZ"
  MCweight: "weight_nominal"

Sample: "DDflips"
  Type: BACKGROUND
  Title: "DD flips"
  FillColor: 613
  LineColor: 613
  NtuplePathSuff: "cf/"
  NtupleFiles: "cf_data*"
  MCweight: "cfweight"
  NormalizedByTheory: FALSE

Sample: "Fakes_pp"
  Group: "Fakes"
  Type: BACKGROUND
  Title: "Fakes_pp"
  FillColor: 799
  LineColor: 799
  NtuplePathSuff: "fakes_charge/mm_plv_pp_v4/"
  NtupleFiles: "mm_dataOS*"
  MCweight: "MMweight"
  Selection: "nBJets77>=1 && lep0_charge>0"
  NormalizedByTheory: FALSE

Sample: "Fakes_mm"
  Group: "Fakes"
  Type: BACKGROUND
  Title: "Fakes_mm"
  FillColor: 799
  LineColor: 799
  NtuplePathSuff: "fakes_charge/mm_plv_mm_v4/"
  NtupleFiles: "mm_dataOS*"
  MCweight: "MMweight"
  Selection: "nBJets77>=1 && lep0_charge<0"
  NormalizedByTheory: FALSE

% -------------------- %
% --- NORM FACTORS --- %
% -------------------- %

NormFactor: "cHt"
  Title: "c_{Ht}"
  Category: EFT
  Exclude: *
  Nominal: 0.0
  Min: -100.0
  Max: 100.0

NormFactor: "cHQ1"
  Title: "c_{HQ}^{1}"
  Category: EFT
  Exclude: *
  Nominal: 0.0
  Min: -100.0
  Max: 100.0

NormFactor: "norm_ttZ"
  Samples: ttZ
  Title: "N_{t#bar{t}Z}"
  Nominal: 1.0
  Min: -10.0
  Max: 10.0

NormFactor: "norm_ttW_QCD"
  Samples: ttW_QCD
  Title: "N_{t#bar{t}W QCD}"
  Nominal: 1.0
  Min: -10.0
  Max: 10.0

NormFactor: "norm_diboson"
  Samples: diboson
  Title: "N_{VV}"
  Nominal: 1.0
  Min: -10.0
  Max: 10.0

% ------------------- %
% --- SYSTEMATICS --- %
% ------------------- %

Systematic: "xs_ttWj"
  Samples: ttW_EW
  Type: OVERALL
  Title: "ttWj cross section"
  OverallUp: 0.04 
  OverallDown: -0.03 
  Category: "Cross section"

#IGNORING OTHER SYSTEMATICS FOR TUTORIAL