
% ---  JOB    --- %
% --------------- %

Job: "FitExampleEFTShapeFactor"
  Label: "EFT t#bar{t}HH"
  PlotLabel: "Internal"
  CmeLabel: "13 TeV"
  LumiLabel: "140 fb^{-1}"
  Label: "t#bar{t}HH (HH#rightarrow4b)"
  ReadFrom: HIST
  DebugLevel: 1
  LoggingFormat: NONE
  SystControlPlots: TRUE
  CorrelationThreshold: 0.20
  ImageFormat: "png"
  MergeUnderOverFlow: TRUE 
  POI: cttHH
  HistoPath: root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/EFTShapeFactor/

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: EFT
  FitRegion: CRSR
  FitBlind: TRUE % if use ASIMOV
  UseMinos: all
  doLHscan: cttHH
  LHscanMin: -10
  LHscanMax: 10
  NumCPU: 4

EFTConfig: "EFTConf"
  ParameterMinMax: cttHH:-10:10
  EFTOrder: ALL

% --------------- %
% --- REGIONS --- %
% --------------- %


Region: "R1L4bHi_c"
  Type: SIGNAL
  VariableTitle: sumPCBT
  HistoName: NOSYS/sumPCBT_R1L4bHi
  Label: R1L4bHi

% ------------------------------------------------------------ %
% --- SAMPLES ------------------------------------------------ %
% ------------------------------------------------------------ %


### MC SAMPLES

Sample: "EFT_ttHH_eft_CttHH_min3";
  Type: EFT
  EFTSMReference: "ttHH"
  EFTParam: "cttHH + cttHH^2"
  EFTTitle: "cttHH=c_{ttHH}"
  EFTValue: "cttHH=-3.0"
  HistoFiles: ttHH_eft_CttHH_min3
  LumiScale: 2
  
Sample: "EFT_ttHH_eft_CttHH_min1";
  Type: EFT
  EFTSMReference: "ttHH"
  EFTParam: "cttHH + cttHH^2"
  EFTTitle: "cttHH=c_{ttHH}"
  EFTValue: "cttHH=-1.0"
  HistoFiles: ttHH_eft_CttHH_min1
  LumiScale: 2
  
Sample: "EFT_ttHH_eft_CttHH_1";
  Type: EFT
  EFTSMReference: "ttHH"
  EFTParam: "cttHH + cttHH^2"
  EFTTitle: "cttHH=c_{ttHH}"
  EFTValue: "cttHH=1.0"
  HistoFiles: ttHH_eft_CttHH_1
  LumiScale: 2
  
Sample: "EFT_ttHH_eft_CttHH_3";
  Type: EFT
  EFTSMReference: "ttHH"
  EFTParam: "cttHH + cttHH^2"
  EFTTitle: "cttHH=c_{ttHH}"
  EFTValue: "cttHH=3.0"
  HistoFiles: ttHH_eft_CttHH_3
  LumiScale: 2

Sample: "ttHH"
  Type: SIGNAL
  Title: "t#bar{t}HH"
  FillColorRGB: 242, 56, 90
  LineColor: 1
  HistoFiles: ttHH_523072_mc20a,ttHH_523072_mc20d,ttHH_523072_mc20e,ttHH_523073_mc20a,ttHH_523073_mc20d,ttHH_523073_mc20e,ttHH_525963_mc20a,ttHH_525963_mc20d,ttHH_525963_mc20e,ttHH_523074
  LumiScale: 2

Sample: "ttb"
  Type: BACKGROUND
  Title: "t#bar{t}b"
  FillColor: 4
  LineColor: 1
  HistoFiles: ttb_5fs

Systematic: "Jet_eta_intercalibration"
  Type: HISTO
  Title: "Jet eta intercalibration"
  HistoFolderNameUp: JET_EtaIntercalibration_Modelling__1up 
  HistoFolderNameDown: JET_EtaIntercalibration_Modelling__1down
  Symmetrisation: TWOSIDED
  Smoothing: 40

Systematic: "ttb_4fs"
  Type: HISTO
  Title: "ttb 4FS"
  HistoFileUp: ttb_4fs 
  Symmetrisation: ONESIDED
  Smoothing: 40
  Samples: ttb
