Job: "FitExampleUnfoldingNormalized"
  Label: "Normalized Unfolding Example"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  ReadFrom: HIST
  HistoPath: "root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/Unfolding"
  MigrationPath: "root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/Unfolding"
  SelectionEffPath: "root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/Unfolding"
  ResponseMatrixPath: "root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/Unfolding"
  ResponseMatrixFile: "InputUnfolding"
  AcceptancePath: "root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/Unfolding"
  AcceptanceFile: "InputUnfolding"
  DebugLevel: 2
  LoggingFormat: NONE
  SystControlPlots: TRUE
  UseGammaPulls: TRUE
  MCstatThreshold: NONE
  LegendNColumns: 1
  LegendX1: 0.6
  SystDataPlots: TRUE
  PruningType: COMBINEDSIGNAL

Fit: "myFit"
  FitType: UNFOLDING
  FitRegion: CRSR

Unfolding: "Unfolding"
  MatrixOrientation: TRUTHONVERTICAL
  TruthDistributionPath: root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/Unfolding
  TruthDistributionFile: InputUnfolding
  TruthDistributionName: nominal/leadingTop_pt_signal_truth
  NumberOfTruthBins: 11
  Tau: 1:2,3:2
  TitleX: "Top p_{T} [GeV]"
  TitleY: "Events"
  RatioYmax: 2.0
  RatioYmin: 0.3
  LogX: FALSE
  LogY: FALSE
  NominalTruthSample: "PP8"
  UnfoldingResultMin: -100
  UnfoldingResultMax: 100
  UnfoldNormXSec: TRUE
  UnfoldNormXSecBinN: 2

TruthSample: "PP8"
  Title: "Powheg+Pythia 8"
  LineColor: 2
  TruthDistributionName: nominal/leadingTop_pt_signal_truth
 
TruthSample: "PH7"
  Title: "Powheg+Herwig 7"
  LineColor: 3
  LineStyle: 2
  TruthDistributionName: PS/leadingTop_pt_signal_truth

Region: "SR1"
  Type: SIGNAL
  HistoName: "pt"
  VariableTitle: "p_{T} [GeV]"
  Label: "Signal Region1"
  ShortLabel: "SR1"
  NumberOfRecoBins: 11
  MigrationFile: "InputUnfolding"
  SelectionEffFile: "InputUnfolding"
  
Sample: "Data"
  Title: "Data 2015-2018"
  Type: DATA
  HistoFile: "InputUnfolding"
  HistoName: "nominal/leadingTop_pt_data"
  UseSystematics: FALSE
  UseMCstat: FALSE

UnfoldingSample: "SignalSample1"
  Title: "SignalSample1"
  FillColor: 3
  LineColor: 3
  MigrationFile: InputUnfolding
  MigrationName: nominal/leadingTop_pt_migration
  SelectionEffFile: InputUnfolding
  SelectionEffName: nominal/efficiency_selection
  AcceptanceName: nominal/acceptance

Sample: "Bkg"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 2
  LineColor: 1
  HistoFile: "InputUnfolding"
  HistoName: "nominal/leadingTop_pt_bkg_Multijet"
  UseMCstat: FALSE

UnfoldingSystematic: "bTag_SF_B_eigen0"
  Title: "Btag_B_0"
  NuisanceParameter: "bTag_SF_B_eigen0"
  Type: HISTO
  Samples: "SignalSample1"
  Symmetrisation: TWOSIDED
  MigrationNameDown: "bTagSF_B_eigen0_1down/leadingTop_pt_migration"
  MigrationNameUp: "bTagSF_B_eigen0_1up/leadingTop_pt_migration"
  Category: Btag

UnfoldingSystematic: "PS"
  Title: "PS"
  Type: HISTO
  Samples: "SignalSample1"
  Symmetrisation: ONESIDED
  MigrationNameUp: "PS/leadingTop_pt_migration"
  Category: Modelling

Systematic: "bTag_SF_B_eigen0"
  NuisanceParameter: "bTag_SF_B_eigen0"
  Title: "Btag_B_0"
  Type: HISTO
  Samples: "Bkg"
  Symmetrisation: TWOSIDED
  HistoNameDown: "bTagSF_B_eigen0_1down/leadingTop_pt_bkg_Multijet"
  HistoNameUp: "bTagSF_B_eigen0_1up/leadingTop_pt_bkg_Multijet"
  Category: Btag

Systematic: "Bkg_norm"
  NuisanceParameter: "Bkg_norm"
  Title: "Bkg_norm"
  Type: OVERALL
  OverallUp: 0.5
  OverallDown: -0.5
  Samples: "Bkg"
  Category: Bkg.norm

