% --------------- %
% ---  JOB    --- %
% --------------- %

Job: FitExampleEFT
  Label: "EFT Fit"
  CmeLabel: "13 TeV"
  LumiLabel: "159 fb^{-1}"  %"159 fb^{-1}"
  POI: ctW ,citW,ttbar_NORM
  RankingPOIName: "c_{tW}", "c_{itW}",  ttbar_NORM
  ReadFrom: NTUP
  MCstatThreshold: 0.005 % 0.01
  DebugLevel: 2
  LoggingFormat: NONE
  PlotOptions: NOXERR%,NORMSIG,NOSIG %,CHI2,YIELDS
  ImageFormat: pdf,png
  Lumi: 1.
  MCweight: combined_weight
  NtupleName: nominal_Loose
  CorrelationThreshold: 0.20
  SystCategoryTables: TRUE
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  SystPruningShape: 0.0005
  SystPruningNorm: 0.0005
  RankingPlot: Merge
  RankingMaxNP: 20
  AllowWrongRegionSample: TRUE
  HistoChecks: NOCRASH
  LegendNColumns: 2
  LegendX1: 0.48
  UseGammaPulls: TRUE
  RatioYmax: 1.2
  RatioYmin: 0.8
  SuppressNegativeBinWarnings: True
  NtuplePaths: root://eosuser.cern.ch//eos/project/t/trexfitter-docs/test_inputs/EFT


% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: EFT
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: ctW@0.0,citW@0.0
  doLHscan: ctW,citW
  LHscanMin: -0.5
  LHscanMax: 0.5
  LHscanSteps: 10
  NumCPU: 1
  UseNLLwithoutOffsetInLHscan: FALSE
  UsePOISinRanking: TRUE
  BinnedLikelihoodOptimization: TRUE

EFTConfig: "eftConfig"
  EFTOrder: ALL
  SplitSamplePerBin: TRUE

% --------------- %
% --- REGIONS --- %
% --------------- %

Region: SR
  Type: SIGNAL
  Variable:2*(cos_theta_x>0)+(cos_theta_y>0),4,0.,4.
  BinWidth: 1
  YaxisTitle: "Events"
  VariableTitle: "O"
  Selection: "(region==1 )" %
  Label: "SR"
  LogScale: FALSE
  DataType: ASIMOV

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: ttbar_NORM
  Title: "t\bar{t}\; norm."
  Samples: ttbar
  Nominal: 1.
  Min: 0
  Max: 5.
  Constant: FALSE

%You could add a sgtop normfactor but this will not be able to converge since 4 parameters and 4 bins is underconstrained
%NormFactor: sgtop_NORM
%  Title: "t-chan norm."
%  Samples: singletop_tchan_PowPy8_FS
%  Nominal: 1.
%  Min: 1
%  Max: 1.
%  Constant: TRUE


NormFactor: "citW" 
  Title: "c_{itW}"
  Category: EFT
  Exclude: *
  Nominal: 0.0
  Min: -10.
  Max: 10
  %Regions: SR_lowPt

NormFactor: "ctW"
  Title: "c_{tW}"
  Category: EFT
  Exclude: *
  Nominal: 0.0
  Min: -10.
  Max: 10
  %Regions: SR_lowPt

%SIGNAL

Sample: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Title: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Type: GHOST
  LineColor: 1
  NtupleFiles: tchan_eft_500298_r9364_simple
  Selection: (lep_tight)

Sample: singletop_tchan_PowPy8_FS_GHOST
  Type: GHOST
  Title: "Powheg v32 FS GHOST"
  LineColor: 1
  NtupleFiles: tchan_410658_r9364_simple,tchan_410659_r9364_simple
  Selection: (lep_tight)

#############################################

% ------------------ %
% --- SAMPLES EFT--- %
% ------------------ %

Sample: singletop_tchan_ctW-3p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: "ctW=c_{tW}"
  EFTParam: ctW + ctW^2
  EFTValue: "ctW=-3.0"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[538]

Sample: singletop_tchan_ctW-2p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: "ctW=c_{tW}"
  EFTParam: ctW + ctW^2
  EFTValue: "ctW=-2.0"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[562]

Sample: singletop_tchan_ctW2p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: "ctW=c_{tW}"
  EFTParam: ctW + ctW^2
  EFTValue: "ctW=2.0"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[448]

Sample: singletop_tchan_ctW3p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: "ctW=c_{tW}"
  EFTParam: ctW + ctW^2
  EFTValue: "ctW=3.0"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[530]

Sample: singletop_tchan_ctW0p0_IctW-1p5_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: "citW=c_{itW}"
  EFTParam: citW + citW^2
  EFTValue: "citW=-1.5"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[62]

Sample: singletop_tchan_ctW0p0_IctW-1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: "citW=c_{itW}"
  EFTParam: citW + citW^2
  EFTValue: "citW=-1.0"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[106]
  %AsimovReplacementFor: "ctW0_citWn1p0_cqQ0=singletop_tchan_PowPy8_FS","ttbar_ctW0_citWn1p0_cqQ0=singletop_tchan_PowPy8_FS"

Sample: singletop_tchan_ctW0p0_IctW1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ""citW=c_{itW}""
  EFTParam: "citW + citW^2"
  EFTValue: "citW=1.0"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[320]

Sample: singletop_tchan_ctW0p0_IctW1p5_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: "citW=c_{itW}"
  EFTParam: "citW + citW^2"
  EFTValue: "citW=1.5"
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[365]

%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%INTERFERENCE%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Sample: singletop_tchan_ctW-3p0_IctW-1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: singletop_tchan_ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=-3.0,citW=-1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[0]

Sample: singletop_tchan_ctW-3p0_IctW1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=-3.0,citW=1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[12]
  
Sample: singletop_tchan_ctW-2p0_IctW-1p5_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=-2.0,citW=-1.5
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[23]

Sample: singletop_tchan_ctW-2p0_IctW-1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=-2.0,citW=-1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[211]

Sample: singletop_tchan_ctW-2p0_IctW1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=-2.0,citW=1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[38]

Sample: singletop_tchan_ctW-2p0_IctW1p5_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=-2.0,citW=1.5
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[57]

Sample: singletop_tchan_ctW2p0_IctW-1p5_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=2.0,citW=-1.5
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[371]

Sample: singletop_tchan_ctW2p0_IctW-1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=2.0,citW=-1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[390]  

Sample: singletop_tchan_ctW2p0_IctW1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=2.0,citW=1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[505]

Sample: singletop_tchan_ctW2p0_IctW1p5_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=2.0,citW=1.5
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[524]

Sample: singletop_tchan_ctW3p0_IctW-1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=3.0,citW=-1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[525]

Sample: singletop_tchan_ctW3p0_IctW1p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0
  Type: EFT
  EFTSMReference: singletop_tchan_PowPy8_FS
  EFTTitle: ctW=c_{tW},citW=c_{itW}
  EFTParam: ctW*citW
  EFTValue: ctW=3.0,citW=1.0
  NtupleFiles: tchan_eft_500298_r9364_simple
  MultiplyBy: singletop_tchan_PowPy8_FS_GHOST
  DivideBy: singletop_tchan_ctW0p0_IctW0p0_cptb0p0_cbW0p0_IcbW0p0_cqQ0p0_GHOST
  Selection: lep_tight
  MCweight: (1/weight_mc)*reweights[536]

Sample: singletop_tchan_PowPy8_FS
  Type: EFT
  Title: "Powheg FS"
  EFTSMReference: NONE
  FillColor: 868
  LineColor: 1
  NtupleFiles: tchan_410658_r9364_simple,tchan_410659_r9364_simple
  Selection: (lep_tight)

Sample: ttbar
  Type: BACKGROUND
  Title: "ttbar"
  Group: "t#bar{t}"
  FillColor: 2
  LineColor: 1
  NtupleFiles: ttbar_410470_r9364_simple
  Selection: lep_tight

%%%%%%% Systematics %%%%%%%%%%%%%

Systematic: JVT
  Title: "Jet vertex tagger efficiency"
  Type: HISTO
  WeightSufUp: weight_jvt_UP/weight_jvt
  WeightSufDown: weight_jvt_DOWN/weight_jvt
  Symmetrisation: TWOSIDED
  Category: Instrumental
