Job: "Zee_fit"
	HistoPath: /project/atlas/users/lvdurenw/BND-school/datasets/z-ee
	CmeLabel: "13 TeV"
	Label: "Z #rightarrow ee"
	LumiLabel: "16.3 fb^{-1}"
	PlotOptions: "XERR,LEFT,CHI2,KEEPDATAERRORS,YIELDS"
	ImageFormat: png #,pdf
	ReadFrom: HIST
	POI: mu_signal
	HistoChecks: NOCRASH
	PrePostFitCanvasSize: 670,780
	RatioYmax: 1.5
	RatioYmin: 0.5
	LegendX1: 0.5

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitType: SPLUSB
	FitRegion: CRSR

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR"
	Type: SIGNAL
	VariableTitle: "m_{ee} [GeV]"
	HistoName: h_mass
	Label: ""
	# LogScale: True
    Rebin: 2
    Ymax: 1.6e6

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "Data_2016"
	Type: DATA
	Title: Data
	HistoFile: Data

Sample: "DY_ee"
	Type: BACKGROUND
	Title: "DY #rightarrow ee"
	HistoFile: DY_ee
	FillColor: 866
	LineColor: 1

Sample: "DY_tautau"
	Type: BACKGROUND
	Title: "DY #rightarrow #tau#tau"
	HistoFile: DY_ττ
	FillColor: 874
	LineColor: 1

Sample: "Diboson"
	Type: BACKGROUND
	Title: "Diboson"
	HistoFile: Diboson
	FillColor: 920
	LineColor: 1

Sample: "ttbar"
	Type: BACKGROUND
	Title: "t#bar{t}"
	HistoFile: ttbar
	FillColor: 419
	LineColor: 1
    
Sample: "Wjets"
	Type: BACKGROUND
	Title: "W+jets"
	HistoFile: W+jets
	FillColor: 800
	LineColor: 1

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu_signal"
	Title: "#mu(signal)"
	Nominal: 1
	Min: -100
	Max: 100
	Samples: DY_ee

% --------------- %
% - SYSTEMATICS - %
% --------------- %

