Job: "Zee_fit"
	HistoPath: /project/atlas/users/lvdurenw/BND-school/datasets/z-ee
	CmeLabel: "13 TeV"
	Label: "Z #rightarrow ee"
	LumiLabel: "16.3 fb^{-1}"
	PlotOptions: "XERR,LEFT,CHI2,KEEPDATAERRORS,YIELDS"
	ImageFormat: png #,pdf
	ReadFrom: HIST
	POI: mu_signal
	HistoChecks: NOCRASH
	PrePostFitCanvasSize: 670,780
	RatioYmax: 1.5
	RatioYmin: 0.5
	LegendX1: 0.5

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitType: SPLUSB
	FitRegion: CRSR

% ----------- %
% - REGIONS - %
% ----------- %

Region: "SR"
	Type: SIGNAL
	VariableTitle: "m_{ee} [GeV]"
	HistoName: h_mass
	Label: ""
	# LogScale: True
    Rebin: 2
    Ymax: 1.6e6

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "Data_2016"
	Type: DATA
	Title: Data
	HistoFile: Data

Sample: "DY_ee"
	Type: BACKGROUND
	Title: "DY #rightarrow ee"
	HistoFile: DY_ee
	FillColor: 866
	LineColor: 1

Sample: "DY_tautau"
	Type: BACKGROUND
	Title: "DY #rightarrow #tau#tau"
	HistoFile: DY_tautau
	FillColor: 874
	LineColor: 1

Sample: "Diboson"
	Type: BACKGROUND
	Title: "Diboson"
	HistoFile: Diboson
	FillColor: 920
	LineColor: 1

Sample: "ttbar"
	Type: BACKGROUND
	Title: "t#bar{t}"
	HistoFile: ttbar
	FillColor: 419
	LineColor: 1
    
Sample: "Wjets"
	Type: BACKGROUND
	Title: "W+jets"
	HistoFile: Wjets
	FillColor: 800
	LineColor: 1

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu_signal"
	Title: "#mu(signal)"
	Nominal: 1
	Min: -100
	Max: 100
	Samples: DY_ee

% --------------- %
% - SYSTEMATICS - %
% --------------- %

Systematic: "LUMI"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.012
  OverallDown: -0.012
  Samples: DY_ee,DY_tautau,Diboson,ttbar,Wjets

Systematic: "Pileup"
  Title: "Pileup"
  Type: HISTO
  HistoNameUp: h_mass_PUUp
  HistoNameDown: h_mass_PUDown
  Samples: DY_ee,DY_tautau,Diboson,ttbar,Wjets
  Symmetrisation: TWOSIDED
  Category: "Pileup"

Systematic: "L1Prefiring"
  Title: "L1 prefiring"
  Type: HISTO
  Samples: DY_ee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameUp: h_mass_L1PrefireUp
  HistoNameDown: h_mass_L1PrefireDown
  Symmetrisation: TWOSIDED
  Category: "L1 prefiring"

Systematic: "ElectronRECO"
  Title: "Electron RECO"
  Type: HISTO
  Samples: DY_ee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameUp: h_mass_EleRecoUp
  HistoNameDown: h_mass_EleRecoDown
  Symmetrisation: TWOSIDED
  Category: "Electron"
  SubCategory: "Electron ID"

Systematic: "ElectronID"
  Title: "Electron ID"
  Type: HISTO
  Samples: DY_ee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameUp: h_mass_EleIDUp
  HistoNameDown: h_mass_EleIDDown
  Symmetrisation: TWOSIDED
  Category: "Electron"
  SubCategory: "Electron ID"

Systematic: "PDF"
  Title: "PDF"
  Type: HISTO
  Samples: DY_ee
  HistoNameUp: h_mass_PDFUp
  HistoNameDown: h_mass_PDFDown
  Symmetrisation: TWOSIDED
  Category: "Signal modelling"

Systematic: "QCDScale"
  Title: "QCD scales"
  Type: HISTO
  Samples: DY_ee
  HistoNameUp: h_mass_ScaleUp
  HistoNameDown: h_mass_ScaleDown
  Symmetrisation: TWOSIDED
  Category: "Signal modelling"

Systematic: "XS_TTbar"
  Title: "#sigma(t#bar{t})"
  Type: OVERALL
  OverallUp: 0.06
  OverallDown: -0.06
  Samples: "ttbar"
  Category: "Background normalisation"

Systematic: "XS_VV"
  Title: "#sigma(VV)"
  Type: OVERALL
  OverallUp: 0.1
  OverallDown: -0.1
  Samples: "Diboson"
  Category: "Background normalisation"

Systematic: "XS_WJets"
  Title: "#sigma(W+jets)"
  Type: OVERALL
  OverallUp: 0.1
  OverallDown: -0.1
  Samples: "Wjets"
  Category: "Background normalisation"

Systematic: "XS_DYtautau"
  Title: "#sigma(Z#rightarrowee/#tau#tau)"
  Type: OVERALL
  OverallUp: 0.05
  OverallDown: -0.05
  Samples: DY_tautau
  Category: "Background normalisation"
