Job: "Zee_fit"
	HistoPath: ../datasets/z-ee
	CmeLabel: "13 TeV"
	Label: "Z #rightarrow ee"
	LumiLabel: "16.4 fb^{-1}"
	PlotOptions: "XERR,LEFT,CHI2,KEEPDATAERRORS,YIELDS"
	ImageFormat: png #,pdf
	ReadFrom: HIST
	POI: mu_Z
	HistoChecks: NOCRASH
	PrePostFitCanvasSize: 670,780
	RatioYmax: 1.25
	RatioYmin: 0.75
	LegendX1: 0.5
	ExperimentLabel: CMS
	PlotLabel: "Open Data"

% ------- %
% - FIT - %
% ------- %

Fit: "fit"
	FitType: SPLUSB
	FitRegion: CRSR

% ----------- %
% - REGIONS - %
% ----------- %

Region: "ee_SR"
	Type: SIGNAL
	VariableTitle: "m_{ee} [GeV]"
	HistoName: h_mass
	Label: ""
	# LogScale: True
  # Rebin: 2
  Ymax: 3e6

% ----------- %
% - SAMPLES - %
% ----------- %

Sample: "Data_2016"
	Type: DATA
	Title: Data
	HistoFile: zee
  HistoName: Data

Sample: "DYee"
	Type: SIGNAL
	Title: "DY #rightarrow ee"
	HistoFile: zee
  HistoName: DY_ee
	FillColor: 866
	LineColor: 1

Sample: "DY_tautau"
	Type: BACKGROUND
	Title: "DY #rightarrow #tau#tau"
	HistoFile: zee
  HistoName: DY_tautau
	FillColor: 874
	LineColor: 1

Sample: "Diboson"
	Type: BACKGROUND
	Title: "Diboson"
	HistoFile: zee
  HistoName: Diboson
	FillColor: 920
	LineColor: 1

Sample: "ttbar"
	Type: BACKGROUND
	Title: "t#bar{t}"
	HistoFile: zee
  HistoName: ttbar
	FillColor: 419
	LineColor: 1
    
Sample: "Wjets"
	Type: BACKGROUND
	Title: "W+jets"
	HistoFile: zee
  HistoName: Wjets
	FillColor: 800
	LineColor: 1

% ----------------- %
% - NORM. FACTORS - %
% ----------------- %

NormFactor: "mu_Z"
	Title: "#mu(signal)"
	Nominal: 1
	Min: -100
	Max: 100
	Samples: DYee

% --------------- %
% - SYSTEMATICS - %
% --------------- %

Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.012
  OverallDown: -0.012
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  Category: "Luminosity"

Systematic: "Pileup"
  Title: "Pileup"
  Type: HISTO
  HistoNameSufUp: _PUUp
  HistoNameSufDown: _PUDown
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  Symmetrisation: TWOSIDED
  Category: "Pileup"

Systematic: "L1Prefiring"
  Title: "L1 prefiring"
  Type: HISTO
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameSufUp: _L1PrefireUp
  HistoNameSufDown: _L1PrefireDown
  Symmetrisation: TWOSIDED
  Category: "L1 prefiring"

Systematic: "ElectronRECO"
  Title: "Electron RECO"
  Type: HISTO
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameSufUp: _EleRecoUp
  HistoNameSufDown: _EleRecoDown
  Symmetrisation: TWOSIDED
  Category: "Electron"
  SubCategory: "Electron ID"

Systematic: "ElectronID"
  Title: "Electron ID"
  Type: HISTO
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameSufUp: _EleIDUp
  HistoNameSufDown: _EleIDDown
  Symmetrisation: TWOSIDED
  Category: "Electron"
  SubCategory: "Electron ID"

Systematic: "PDF"
  Title: "PDF"
  Type: HISTO
  Samples: DYee
  HistoNameSufUp: _PDFUp
  HistoNameSufDown: _PDFDown
  Symmetrisation: TWOSIDED
  Category: "Signal modelling"

Systematic: "QCDScale"
  Title: "QCD scales"
  Type: HISTO
  Samples: DYee
  HistoNameSufUp: _ScaleUp
  HistoNameSufDown: _ScaleDown
  Symmetrisation: TWOSIDED
  Category: "Signal modelling"

Systematic: "XS_TTbar"
  Title: "#sigma(t#bar{t})"
  Type: OVERALL
  OverallUp: 0.06
  OverallDown: -0.06
  Samples: "ttbar"
  Category: "Background normalisation"

Systematic: "XS_VV"
  Title: "#sigma(VV)"
  Type: OVERALL
  OverallUp: 0.1
  OverallDown: -0.1
  Samples: "Diboson"
  Category: "Background normalisation"

Systematic: "XS_WJets"
  Title: "#sigma(W+jets)"
  Type: OVERALL
  OverallUp: 0.1
  OverallDown: -0.1
  Samples: "Wjets"
  Category: "Background normalisation"

Systematic: "XS_DYtautau"
  Title: "#sigma(Z#rightarrowee/#tau#tau)"
  Type: OVERALL
  OverallUp: 0.05
  OverallDown: -0.05
  Samples: DY_tautau
  Category: "Background normalisation"

Systematic: "PS_FSR"
  Title: "PS FSR"
  Type: HISTO
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameSufUp: _FSRUp
  HistoNameSufDown: _FSRDown
  Symmetrisation: TWOSIDED
  Category: "Signal modelling"

Systematic: "ElectronES"
  Title: "electron energy scale"
  Type: HISTO
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameSufUp: _EESUp
  HistoNameSufDown: _EESDown
  Symmetrisation: TWOSIDED
  Smoothing: 40
  Category: "Electron"
  SubCategory: "Electron energy scale"

Systematic: "ElectronER"
  Title: "electron energy resolution"
  Type: HISTO
  Samples: DYee,DY_tautau,Diboson,ttbar,Wjets
  HistoNameSufUp: _EERUp
  HistoNameSufDown: _EERDown
  Symmetrisation: TWOSIDED
  Smoothing: 40
  Category: "Electron"
  SubCategory: "Electron energy resolution"
